.vertical-indent {
    margin-bottom: 92px;
}

@media screen and (max-width: 960px) {
  .vertical-indent {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 555px) {
  .vertical-indent {
    margin-bottom: 64px;
  }
}
