.places {
    width: calc(100% - 148px*2);
    display: grid;
    row-gap: 80px;
    margin: 0 auto;
}

@media screen and (max-width: 1136px) {
  .places {
    width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 960px) {
  .places {
    width: calc(100% - 24px*2);
    row-gap: 73px;
  }
}

@media screen and (max-width: 555px) {
  .places {
    width: 100%;
    row-gap: 50px;
  }
}
