.lead {
  width: calc(100% - 148px*2);
  margin: 56px auto 0;
  line-height: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1136px) {
  .lead {
    width: calc(100% - 48px*2);
    margin-top: 48px;
  }
}

@media screen and (max-width: 960px) {
  .lead {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

