.intro {
  max-width: 690px;
  box-sizing: border-box;
  margin-left: 148px;
}

@media screen and (max-width: 1136px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 960px) {
  .intro {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 690px) {
  .intro {
    width: calc(100% - 16px*2);
  }
}
