.footer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 48px*2);
    margin: 0 auto 24px;
}

@media screen and (max-width: 960px) {
  .footer {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 690px) {
  .footer {
    flex-direction: column;
    margin: 0 0 24px 16px;
    row-gap: 48px;
  }
}
